
*.pyc
*.pyc
*.pyc
__pycache__/api_calls.cpython-39.pyc
__pycache__/build_tycho.cpython-39.pyc
__pycache__/config.cpython-39.pyc
__pycache__/global_yard.cpython-39.pyc
__pycache__/ptr_events.cpython-39.pyc
__pycache__/ptr_utility.cpython-39.pyc
auto_stretch/__pycache__/__init__.cpython-39.pyc
auto_stretch/__pycache__/stretch.cpython-39.pyc
devices/__pycache__/camera.cpython-39.pyc
devices/__pycache__/darkslide.cpython-39.pyc
devices/__pycache__/filter_wheel.cpython-39.pyc
devices/__pycache__/focuser.cpython-39.pyc
devices/__pycache__/mount.cpython-39.pyc
devices/__pycache__/observing_conditions.cpython-39.pyc
devices/__pycache__/rotator.cpython-39.pyc
devices/__pycache__/screen.cpython-39.pyc
devices/__pycache__/selector.cpython-39.pyc
devices/__pycache__/sequencer.cpython-39.pyc
devices/__pycache__/telescope.cpython-39.pyc
planewave/__pycache__/platesolve.cpython-39.pyc
processing/__pycache__/calibration.cpython-39.pyc
*.pyc
*.pyc
