env/
venv/
local_dev_stuff/
.env
.credentials
local_dev_stuff/
CLAUDE.md

__pycache__
*.pyc
*.pyo

sandbox/
.vscode/
.pylint
CLAUDE.md

.DS_Store
support_info/Installers/WCSIndexFiles/Kepler.zip
support_info/Installers/WCSIndexFiles/Kepler.zip
support_info/Installers/.wget-hsts
subprocesses/testplatesolvepickle
subprocesses/testSEPpickle
subprocesses/testsmartstackpickle
testjpegpickle
subprocesses/testSEPpickle
subprocesses/testSEPpickle
subprocesses/testSEPpickle
subprocesses/testSEPpickle
subprocesses/testpostprocess.pickle
subprocesses/crosscorrelprocess.pickle
subprocesses/Platesolveprocess - Copy (3).py
subprocesses/testsingleimageplatesolvepickle
output.txt
output.txt
output.txt
