env/
venv/
local_dev_stuff/
.env
.credentials
local_dev_stuff/
CLAUDE.md

__pycache__
*.pyc
*.pyo

sandbox/
.vscode/
.pylint
CLAUDE.md

.DS_Store
testjpegpickle
support_info/Installers/WCSIndexFiles/Kepler.zip
support_info/Installers/.wget-hsts
subprocesses/testplatesolvepickle
subprocesses/testsmartstackpickle
subprocesses/testSEPpickle
subprocesses/test_photometry_subprocess_pickle
subprocesses/testpostprocess.pickle
subprocesses/crosscorrelprocess.pickle
subprocesses/Platesolveprocess - Copy (3).py
subprocesses/testsingleimageplatesolvepickle
subprocesses/subprocessplog_*
output.txt
aftersourceplots.png
beforesourceplots.png
brightstarplots.png
ftpsecrets.json
httpsecrets.json
