# To install all the python dependencies needed to run this project:
# pip install -r requirements.txt
#
# Note the order is important
python-dotenv
colour-science
colour_demosaicing
astropy==5.3.4
numpy
scipy
matplotlib==3.9.4
pandas
fuzzytm
streamlit
sep
Pillow
astroalign
redis
requests
ocs_ingester
astroquery
ephem
pyowm
pyserial
xmltodict
image_registration
joblib
git+https://github.com/python-zwoasi/python-zwoasi
bottleneck
psutil
pywin32